<section>
  <article style="text-align: center;">
    <h1>Contact</h1>
    <h3>Mailing Address</h3>
    <p>
      Amirah, Inc.<br/>
      PO Box 760867<br/>
      Melrose, MA 02176
    </p>

    <h3>Email</h3>
    <p>
      <a href="mailto:info@amirahboston.org">info@amirahboston.org</a>
    </p>

    <h3>Phone</h3>
    <p>
      <a href="tel:7814621758">(781) 462-1758</a>
    </p>
  </article>
</section>