<section>
  <article>
    <h1>Donate Monthly</h1>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="2KA9DPRZU84XA">
      <select name="os0" style="margin: 16px auto;">
        <option value="Option 1"> $5.00 USD  </option>
        <option value="Option 2"> $10.00 USD </option>
        <option value="Option 3"> $20.00 USD </option>
        <option value="Option 4"> $25.00 USD </option>
        <option value="Option 5"> $50.00 USD </option>
        <option value="Option 6"> $75.00 USD </option>
        <option value="Option 7"> $100.00 USD</option>
        <option value="Option 8"> $150.00 USD</option>
        <option value="Option 9"> $200.00 USD</option>
        <option value="Option 10">$250.00 USD</option>
      </select>
      <input type="hidden" name="currency_code" value="USD">
      <input type="submit" value="Proceed to PayPal" name="submit" style="margin: 0px auto;"/>
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </article>
</section>