<section>
  <article>
    <h1>Donate</h1>
    <h2>Our Supporters</h2>
    <img src="/images/supporters.png"  style="display: block; margin: 0px auto; border: 1px solid rgba(150, 150, 150, 0.06);"/>
  </article>
</section>