<section id="home">
  <section class="slider">
    <section class="slide">
      <video controls poster="/images/amirah-poster.png">
        <source src="/videos/amirah.mp4" type="video/mp4"/>
        <source src="/videos/amirah.ogv" type="video/ogg"/>
      </video>
    </section>
  </section>
  <a href="#top" style="display: none; text-align: center;">Back to Top</a>
  <section id="articles">
    <article class="top-right">
      <time datetime="2012-07-14" pubdate>
        July 14, 2012
      </time>
      <h1>Development and Freedom</h1>
      <h5 class="author">By T EH</h5>
      <p>"Bangkok is selling it's beauties for mere dollars and cents, and the commodity* is in high demand. This is the path of survival for many Thai girls....she make*s the sacrifice to send money back to those she loves. I turn to leave" writes a* young adult photographer, "my heart in my throat. She stays. She doesn't know t*he way out."</p>
      <p class="article-link"><a href="/articles/1">View Full Article</a></p>
    </article>
    <article class="top-right">
      <time datetime="2012-07-14" pubdate>
        July 14, 2012
      </time>
      <h1>Development and Freedom</h1>
      <h5 class="author">By T EH</h5>
      <p>"Bangkok is selling it's beauties for mere dollars and cents, and the commodity* is in high demand. This is the path of survival for many Thai girls....she make*s the sacrifice to send money back to those she loves. I turn to leave" writes a* young adult photographer, "my heart in my throat. She stays. She doesn't know t*he way out."</p>
      <p class="article-link"><a href="/articles/1">View Full Article</a></p>
    </article>
    <article class="top-right">
      <time datetime="2012-07-14" pubdate>
        July 14, 2012
      </time>
      <h1>Development and Freedom</h1>
      <h5 class="author">By T EH</h5>
      <p>"Bangkok is selling it's beauties for mere dollars and cents, and the commodity* is in high demand. This is the path of survival for many Thai girls....she make*s the sacrifice to send money back to those she loves. I turn to leave" writes a* young adult photographer, "my heart in my throat. She stays. She doesn't know t*he way out."</p>
      <p class="article-link"><a href="/articles/1">View Full Article</a></p>
    </article>
  </section>
  <section id="twitter" class="aside">
    <h1>Twitter</h1>
    <ul class="aside-content">
      <li><img class="avatar" src=""/><p class="message">a twitter message</p></li>
      <li><img class="avatar" src=""/><p class="message">another twitter message</p></li>
      <li><img class="avatar" src=""/><p class="message">something about human trafficking</p></li>
      <li><img class="avatar" src=""/><p class="message">a mention of @notforsale!</p></li>
    </ul>
  </section>
</section>
