<section>
  <article>
    <h1>Resources</h1>
    <h4>National Human Trafficking Hotline Number</h4>
    <p>
      <a href="tel:8883737888">888 373-7888</a>
    </p>

    <h4>International Human Trafficking</h4>

    <ul>
      <li><a href="">Not For Sale Campaign</a></li>
      <li><a href="">Polaris Project</a></li>
      <li><a href="">Free The Slaves</a></li>
      <li><a href="">International Justice Mission</a></li>
      <li><a href="">Love146</a></li>
      <li><a href="">The Defenders USA</a></li>
      <li><a href="">Shared Hope International</a></li>
      <li><a href="">Project Rescue</a></li>
    </ul>

    <h4>Human Trafficking in Boston</h4>

    <ul>
      <li><a href="">Human Trafficking in Boston, USA</a></li>
      <li><a href="">Northeastern University Database</a></li>
      <li><a href="">MA Anti-human Trafficking Task Force</a></li>
    </ul>
  </article>
</section>