<section>
  <article class="top-right">
    <h1>Who We Are</h1>
<!--     <figure class="tall right">
      <img src='/images/girl-mirror.png'>
    </figure> -->
    <p>Amirah (pronounced \a-meer-ah\) is a non-profit organization located in the Boston area dedicated to providing whole-person care for rescued survivors of human trafficking.</p>
    <p>Our goal is to provide a short-term, emergency shelter and a longer-term care facility dedicated to sharing love and restoration with the women who have survived modern-day slavery.</p>

    <h2>What does Amirah mean?</h2>
    <p>Amirah is a variant of Amira (Arabic, Hebrew), and means princess. Our goal is to treat the women that come under our care as the princesses that they are. They are daughters, sisters and women; they deserve the best treatment and care and to be showered with unconditional love.</p>

    <h2>Staff</h2>
<!--     <img src="/images/arwyn.png" style="float: left; margin: 18px 9px 0px 0px; clear: left;"/> -->
    <p>
      <strong>Arwyn Jackson</strong><br/>
      <em>Director of Operations</em>
    </p>
    <p>Arwyn has worked for social change throughout her career.  She started by working with legislators in the NH State House and then for 5 years as a fundraiser for political campaigns all across the country.  She left the world of politics when hearing about the atrocity of human trafficking in the modern world and worked with Love146, a group out of Connecticut that works to fight child sex trafficking, as their Director of Development for a year.</p>
    <p>She returned to the Greater Boston Area in 2007 and remained involved in the issue as a member of task forces and as a speaker on modern-day slavery while working in the Development Division of the Museum of Science.  She brings an understanding of grassroots organizing, social marketing and non-profit organization through her varied career as a fundraiser.</p>
  </article>
</section>