html {
  padding-top: 64px;
  background: #FDFDFD;
/*  background: url('../images/bgs/relief-white-texture.jpg');*/
  background: url('../images/bgs/cross-hatch-light-grey.jpg');

/*  background-image: url("../images/line-height-32px.jpg");
  background-repeat: repeat;
  background-position-y: 0px;
*/}

#header-bg {
  position: absolute; top: 64px; left: 0px; right: 0px; height: 64px;
  background-image: url('../images/bgs/header-bg.jpg');
  background-repeat: repeat-x;
}

body {
  width: 90%;
  margin: 0px auto;

  overflow-x: hidden;

  font-family: "futura-pt", sans-serif;
  font-weight: light;
  font-size: 21px;
  line-height: 32px;
  color: #4C036D; /* rgb(76, 3, 109); */
}

h1,h2,h3,h4,h5,h6 {
  font-family: "futura-pt-condensed", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  text-shadow: 0px 1px 0px rgba(255,255,255,1), 0px 0px 1px rgba(0,0,0,.45);
}
h2 { font-size: 32px; }
h3,h4,h5,h6 { font-size: 28px; line-height: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 21px; }
h6 { font-size: 18px; }
.author { text-transform: uppercase; font-weight: normal; color: #1C0655; }

a:link, a:visited,
a:hover, a:active {
  color: #035E13;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

video { width: 100%; }

.slider {
  background: black;
  display: block;
  margin: 0px auto 17px;
  width: 100%;
  max-width: 640px;
  border: 3px solid rgb(198, 153, 219);
  -webkit-box-shadow: 0px 0px 9px rgba(100,100,100,0.3);
}

.slider:before {
  position: relative;
  bottom: 0px; left: -100px;
  content: '';
  height: 64px;
  background: rgb(198, 153, 219);
  width: 100px;
}

header {
  position: relative;
  height: 64px;
  line-height: 64px;
  z-index: 1;
  padding-left: 202px;
  margin-bottom: 64px;
}

header>nav.mobile { display: none; }

header>nav>ul {
  list-style-type: none;
  height: 64px;
  width: 670px;
  margin: 0px auto;
}

nav>ul>li {
  display: inline;
  font-family: "futura-pt-condensed", sans-serif;
  font-size: 24px;
  line-height: 64px;
  text-transform: uppercase;
  color: #FDFDFD;
  text-shadow: 0px -1px 0px rgb(76, 3, 109);
  margin: 1em;
  padding: 0px 6px;
  border-radius: 6px;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav>ul>li:hover,
nav>ul>li:active {
  background: rgb(99, 77, 110);
  -webkit-box-shadow: 0px 1px 0px rgb(76, 3, 109);
  -moz-box-shadow: 0px 1px 0px rgb(76, 3, 109);
  box-shadow: 0px 1px 0px rgb(76, 3, 109);
}

nav>ul>li:active {
  -webkit-box-shadow: inset 0px 1px 0px rgb(76, 3, 109);
  -moz-box-shadow: inset 0px 1px 0px rgb(76, 3, 109);
  box-shadow: inset 0px 1px 0px rgb(76, 3, 109);
}

nav>ul>li>a:link,
nav>ul>li>a:visited,
nav>ul>li>a:hover,
nav>ul>li>a:active {
  color: #FDFDFD;
}

nav>ul>li>a:hover,
nav>ul>li>a:active {
  text-decoration: none;
}

nav>ul>li>a:active {}

footer>nav.mobile {
  display: none;
  float: left;
  background: #d3acdf;
  width: 120%; position: relative; left: -10%; color: #fdfdfd;
  border: 8px solid #ead7ef;
  margin-bottom: 32px;
}

footer>nav.mobile a:link,
footer>nav.mobile a:visited { color: #fdfdfd; }

#logo {
  position: absolute; top: -72px; left: 0px;
  float: left;
  width: 160px; height: auto;
  padding: 1em;
  padding-bottom: 0px;
  background: rgb(255,255,255);
  background: url('../images/bgs/relief-white-texture.jpg');

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(150, 150, 150, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(150, 150, 150, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(150, 150, 150, 0.06) inset;
}

.page-curl:before,
.page-curl:after {
  position: absolute; bottom: 4px;
  width: 40%;
  height: 10px;
  content: '';
  background: transparent;
  z-index: -1;

  -webkit-box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
  box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
}

.page-curl:before {
  left:  8px;

  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
}
.page-curl:after {
  right: 8px;

  -webkit-transform: skew( 5deg) rotate( 5deg);
  -moz-transform: skew( 5deg) rotate( 5deg);
  transform: skew( 5deg) rotate( 5deg);
}

footer { margin: 64px 0px; text-align: center; font-weight: lighter; font-size: 14px; }
footer a:link { color: inherit; }
/* Article */

section>article {
  width: 60%; display: block; margin: 0px auto;
  position: relative;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article>h1,
article>h2,
article>h5.author {
  text-align: center;
}
article>p,
article>ul { margin: 16px 0px; font-family: 'minion-pro', times, serif; }

article>ul {
  list-style-position: inside;
}

article>figure {
  margin: 0px 0px 0px -64px;
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.45) inset;
  position: relative;
}
article>figure.left  { float: left;   margin: 0px 16px 10px 16px; left:  -96px; }
article>figure.right { float: right;  margin-right: 0px;          right: -96px; }
article>figure.wide,
article>figure.wide>img { height: 180px; }
article>figure>img { border-radius: 9px; z-index: -1; position: relative; }

article>time[pubdate].hang-left>div {
  background: #4C036D;
  color: rgb(235,235,235);
  font-family: "futura-pt-condensed";
  text-align: center;

  padding: 8px 0px;
  width: 72px; height: 88px;
  position: absolute; left: -104px; top: 16px;
}
article>time[pubdate].hang-left>div>h1 { line-height: 32px; font-size: 28px; text-shadow: none; }
article>time[pubdate].hang-left>div>h2 { line-height: 32px; font-size: 32px; text-shadow: none; }
article>time[pubdate].hang-left>div>h3 { line-height: 16px; font-size: 16px; text-shadow: none; }

article {
  border-top: 8px solid rgb(198, 153, 219);
  border-top-color: rgb(76, 3, 109);
  border-bottom: 8px solid #035E13;

  padding: 0px 16px 32px;
  background: rgb(255,255,255);

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(150, 150, 150, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(150, 150, 150, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(150, 150, 150, 0.06) inset;
}

article>h1 {
  text-shadow: 0px -1px 0px rgb(150,150,150);
}

article p.article-link,
article>time[pubdate] {
  font-family: "futura-pt-condensed";
  font-weight: normal;
  color: rgb(255,255,255);
  padding: 0px 8px;
  border-top: none;
  position: relative;
}

article>time[pubdate] {
  background: rgb(198, 153, 219);
  float: right;
  top: -8px;
  right: -16px;
}

article p.article-link {
  background: #035E13;
  float: left;
  left: -16px;
  top: -8px;
}

article p.article-link>a {
  font-family: "futura-pt-condensed";
  color: rgb(255,255,255);
}

article p.article-link>a:hover { text-decoration: none; }
article p.article-link:hover { background: rgb(142, 183, 149); }

/* -- alternate article top-border */

/* ---- dark purple */
article { border-top-color: rgb(76, 3, 109); }
article>time[pubdate] { background: rgb(76, 3, 109); }


/* Sidebar style */

.aside {
  width: 100%;
  box-sizing: border-box;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow:    0 1px 4px rgba(0, 0, 0, 0.27);
  box-shadow:         0 1px 4px rgba(0, 0, 0, 0.27);

  border: 1px solid rgb(175,175,175);
  border-top: none;
  border-bottom: 8px solid #035E13;
}

.aside>* {
  padding: 0px 18px;
}

.aside-content {
  font-family: 'minion-pro', times, serif;
  font-size: 18px;

  padding-top: 18px;
  padding-bottom: 18px;

  width: 100%;
  box-sizing: border-box;
  background: white;

  -webkit-box-shadow: 0 0 40px rgba(150, 150, 150, 0.06) inset;
  -moz-box-shadow:    0 0 40px rgba(150, 150, 150, 0.06) inset;
  box-shadow:         0 0 40px rgba(150, 150, 150, 0.06) inset;
}

.aside>h1 {
  position: relative; left: 0px;
  box-sizing: border-box;
  font-family: "futura-pt-condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #EFEFEF;
  text-shadow: 0px -1px 0px rgb(76, 3, 109);
  line-height: 36px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  background: #4C036D;
}

.aside ul,
.aside ol { list-style-type: none; }

.aside.quote {
  width: 40%;
  padding: 16px;
  margin: 0px 0px 16px 0px;
  position: relative;
  -webkit-box-shadow: 0px 0px 16px rgba(100,100,100,0.45) inset;
  text-align: center;
  border-radius: 9px;
  font-size: 32px;
  font-family: "futura-pt-condensed";
  font-weight: normal;
  line-height: 48px;
  background: rgb(226,204,240);
}
.aside.quote.left  { float: left;  margin-right: -64px; left:  -96px; }
.aside.quote.right { float: right; margin-left:  -64px; right: -96px; }

#home { float: left; }

#home>#articles { width: 75%; float: left; }
#home>#twitter  { width: 25%; float: right; }

#home>#articles>article { width: 80%; margin-bottom: 32px; }
#home>#articles>article>p { margin-bottom: 16px; }
#articles>article>h1,
#articles>article>h5.author { text-align: left; }

#twitter li {
  position: relative;
  padding: 9px;
  border-top: 1px solid rgb(175,175,175);

  -webkit-box-shadow: 0 0 40px rgba(150, 150, 150, 0.2) inset;
  -moz-box-shadow:    0 0 40px rgba(150, 150, 150, 0.2) inset;
  box-shadow:         0 0 40px rgba(150, 150, 150, 0.2) inset;
}

#twitter .aside-content { padding: 0px; }

#twitter li .avatar { width: 32px; height: 32px; position: absolute; left: 9px; }
#twitter li .message { padding-left: 48px; }

img { max-width: 100%; }

/* Form Styles */

input, a.button, select {
  display: block;
  font-family: "futura-pt";
  font-size: 21px;
  padding: 8px 16px;
}

button,
a:link.button,
a:visited.button,
input[type="button"],
input[type="submit"] {
  background: rgb(76, 3, 109);
  background: -webkit-linear-gradient(top, rgb(136, 63, 169) 25%, rgb(116, 43, 149) 75%, rgb(96, 23, 129) 100%);

  border: none;
  border-top: 2px solid rgb(174, 142, 189);
  border-radius: 8px;

  color: white;
  text-shadow: 0px -1px 0px rgba(0,0,0,1);

  -webkit-box-shadow: 0px 1px 1px rgb(0,0,0);

  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  background: #ffffff url("../images/select-bg.jpg") no-repeat right center;
  -webkit-background-size: 1600px 100%;
  color: #4C036D;
  padding-right: 32px;
}

button:hover,
a:link.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
  text-shadow: 0px -1px 0px rgba(0,0,0,1);
  text-decoration: none;

  background: -webkit-linear-gradient(top, rgb(156, 83, 189) 25%, rgb(136, 63, 169) 75%, rgb(116, 43, 149) 100%);
}

button:active,
a:link.button:active,
input[type="button"]:active,
input[type="submit"]:active {
  cursor: pointer;
  border-top: 2px solid rgb(96, 23, 129);

  background: -webkit-linear-gradient(bottom, rgb(136, 63, 169) 25%, rgb(116, 43, 149) 75%, rgb(96, 23, 129) 100%);
}


@media all and (max-width: 920px) {
  #logo { width: 120px; }
  header>nav { display: none; }
  header>nav.mobile { display: block; text-align: right; }
  header>nav.mobile>ul { width: auto; }
  section>article { width: 100%; }

  article>figure.left,
  article>.aside.quote.left  { left: 0px;  margin-right: 32px; }
  article>figure.right,
  article>.aside.quote.right { right: 0px; margin-left: 32px;  }

  article>p { clear: both; }

  footer>nav.mobile { display: block; }
}

@media all and (max-width: 480px) {
  #twitter { display: none; }
  #home>#articles { width: 100%; }

  #home>#articles>article,
  section>article { width: 100%; }

  article>.aside.quote.left,
  article>.aside.quote.right { margin: 16px auto 32px; width: 100%; box-sizing: border-box; }

  article>figure.left,
  article>figure.right { float: left; clear: both; margin: 0px auto 16px; display: block; }

  input, a.button, select {
    width: 100%;
  }
}
