<!DOCTYPE html>
<html>
<head>
  <title>Amirah Boston</title>
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1.0"/>
  <link rel="stylesheet" href="/stylesheets/html5reset-1.6.1.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <!-- TypeKit -->
  <link rel="stylesheet" href="/stylesheets/typekit-cached.css">
  <!--<script type="text/javascript" src="http://use.typekit.com/tbe5ivf.js"></script>-->
  <!--<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
</head>
<body>
<div id="header-bg"></div>
<header>
  <div id="logo" class="page-curl">
    <img style="width: 100%;" src="/images/logo/logo-transparent-clipped.png"/>
  </div>
  <nav class="mobile">
    <ul>
      <li><a href="#menu">Menu</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="/articles/1">Who We Are</a></li>
      <li><a href="/articles/1">What We Do</a></li>
      <li><a href="/articles/1">Resources</a></li>
      <li><a href="/articles/1">Contact</a></li>
      <li><a href="/articles/1">Donate</a></li>
    </ul>
  </nav>
</header>
<%= yield %>
<footer>
  <nav id="menu" class="mobile">
    <ul>
      <li><a href="#">Who We Are</a></li>
      <li><a href="#">What We Do</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Donate</a></li>
    </ul>
  </nav>
  Amirah, Inc. | PO Box 760867 | Melrose, MA 02176 | 781-462-1758 | <a href="mailto:info@amirahboston.org">info@amirahboston.org</a>
</footer>
</body>
</html>
